<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!!!
  </h1>
</div>
<router-outlet></router-outlet>

<!-- Première Partie : Binding simple -->
<!-- <h2>{{ 1 + 1 }}</h2>
<h2>{{ title + " ?????"}}</h2>
<h2>{{ title === "app"}}</h2>
<input type="text" [(ngModel)]="saisie"/>
{{saisie}}

<input type="text" [(ngModel)] = "maTextBox" />
{{ maTextBox }} -->
