<h2>Recherche de film Star Wars</h2>

<div>
    <input type="text" placeholder="Quel film cherchez-vous ? " [(ngModel)]="recherche"/>
    <button (click)="rechercherFilm()">Rechercher</button>
    <button (click)="toutRechercher()">Tout Afficher</button>
</div>

<div>
    <h3>Résultat</h3>
    <p *ngIf="erreur !== ''">Erreur : {{ erreur }}</p>
    <p *ngIf="loading">Chargement en cours</p>
    <ul *ngIf="!loading">
        <li *ngFor="let film of films">
            #{{film.episode_id}} <a [routerLink]="['/details', film.episode_id]">{{film.title}}</a> (par {{film.director}})
        </li>
    </ul>
</div>