
<div *ngIf="film">
  <h1>Détails de l'épisode {{ film.title }} ({{film.episode_id}})</h1>
  <p>Director: {{ film.director }}</p>

</div>
<a [routerLink]="['/recherche']">Retour à la recherche...</a>
